.widgets {
    background-color: rgb(247,247,247);
    padding: 78px 0 95px 0;
}

.widgets__code {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.31;
    text-align: left;
    color: #000000;
}