@import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoSansCyrl300';
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #000000;
}

iframe {
    border: none;
    margin: 0;
    display: block;
}

h1 {
    margin: 0 auto;
    padding: 0;
    font-family: 'MuseoSansCyrl900';
    font-size: 42px;
    font-weight: 900;
    line-height: 1.24;
    text-align: center;
    color: #000000;
}

h2 {
    margin: 0 auto;
    padding: 0;
    font-family: 'MuseoSansCyrl900';
    opacity: 0.9;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.12;
    text-align: left;
    color: #000000;
}

h3 {
    font-family: 'MuseoSansCyrl900';
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.thanking {
    padding: 55px 0 44px;
}

.thanking,
.thanking a {
    font-family: 'MuseoSansCyrl500';
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    color: #000000;
}

.thanking__text,
.error-panel__text {
    width: 940px;
    margin: 0 auto;
}

.error-panel {
    background-color: #dd554f;
    box-shadow: 0 -5px 25px 0 rgba(155, 32, 34, 0.64);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.error-panel,
.error-panel a {
    font-family: 'MuseoSansCyrl500';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    color: #ffffff;
}

.page--missed-public-key-error {
    margin: 86px 0 0;
}



footer {
    height: 100%;
    width: 100%;
    font-family: 'MuseoSansCyrl500';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #d4d4d4;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.9);
}